In [21]:
import pandas as pd
import numpy as np

In [26]:
s = pd.Series(np.random.randn(5),index= ['a','b','c','d','e'])

In [27]:
s

a    0.176281
b    0.631596
c    0.421122
d   -0.205402
e   -0.270622
dtype: float64

In [12]:
s[0]

-0.52931789853554212

In [13]:
s[:3]

0   -0.529318
1   -0.498704
2    0.096087
dtype: float64

In [39]:
df = pd.DataFrame(s, columns=['col1'])

In [40]:
df

       col1
a  0.176281
b  0.631596
c  0.421122
d -0.205402
e -0.270622

In [18]:
df.Column1

0   -0.529318
1   -0.498704
2    0.096087
3   -0.909378
4    0.238593
Name: Column1, dtype: float64

In [41]:
df['col2'] = df['col1']

In [43]:
df['col2'] = 0

In [44]:
df

       col1  col2
a  0.176281     0
b  0.631596     0
c  0.421122     0
d -0.205402     0
e -0.270622     0

In [45]:
df.sort_values(by = 'col1')

       col1  col2
e -0.270622     0
d -0.205402     0
a  0.176281     0
c  0.421122     0
b  0.631596     0

In [46]:
df[df['col1'] <= 0]

       col1  col2
d -0.205402     0
e -0.270622     0